%font-20 {
  font: {
    family: var(--font-mont);
    size: 20px;
    weight: 400;
  }

  color: var(--color-green);
}

%font-40 {
  font: {
    family: var(--font-osw);
    size: clamp(18px, calc(11.068px + 1.507vw), 40px);
    weight: 400;
  }

  color: var(--color-pur);
}

%font-60 {
  font: {
    family: var(--font-osw);
    size: clamp(32px, calc(23.178px + 1.918vw), 60px);
    weight: 400;
  }
}

%font-80 {
  font: {
    family: var(--font-mont);
    size: clamp(48px, calc(37.918px + 2.192vw), 80px);
    weight: 400;
  }
}
