%font-20 {
  font: {
    family: var(--font-mont);
    size: 20px;
    weight: 400;
  }

  color: var(--color-green);
}

%font-40 {
  font: {
    family: var(--font-osw);
    size: 40px;
    weight: 400;
  }

  color: var(--color-pur);
}

%font-60 {
  font: {
    family: var(--font-osw);
    size: 60px;
    weight: 400;
  }

  color: var(--color-brown);
}

%font-80 {
  font: {
    family: var(--font-mont);
    size: 80px;
    weight: 400;
  }

  color: var(--color-red);
}
