@use '../../scss/settings/mixins-flex.scss' as *;
@use '../../scss/settings/extend.scss' as *;

div {
  @include flex(flex, center, center);

  flex-direction: column;
  font-family: var(--font-bob);

  p {
    @extend %font-40;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: var(--color-red);
  }
}

.layout__list {
  list-style: none;

  @include flex(flex, center, center);

  flex-direction: column;

  li > a {
    @extend %font-20;
  }
}
